
.card {
  width: auto;
  height:15rem;
  overflow:hidden;
  border-radius: 10px;
  box-shadow: 4px 4px 6px 0 #104faf;
  transition: transform 0.3s ease;
  text-align: center;
  font-size: 5vh;
  /* color: #104faf; */
  }


.card:hover {
  transform: scale(1.05);
 border: 0.3svh solid #1423cb;  /*introduces glitches... better without */
}



/* ***************** */



@media screen and (min-width:188)and (max-width: 496px) {

 .card {
  width: 15rem;
  height: auto;
  overflow:hidden;
  border-radius: 10px;
  box-shadow: 4px 4px 6px 0 #104faf;
  transition: transform 0.3s ease;
  text-align: center;
  font-size: 5vh;
  /* color: #104faf; */
  }
}

@media screen and (min-width:497)and (max-width: 666px){
   .card { height: 15rem; margin: 0.8svw; 
 }
}

@media screen and (min-width:667) and (max-width: 1000px) { 
  .card { height: 15rem; margin: 0.7svw; 
   }
  }

@media screen and (min-width:1001)and (max-width: 1318px) {
  .card { height: 15rem;  
  }
  }

  @media screen and (min-width:1319)and (max-width: 1706px) {
    .card { height: 15rem;  
    }
   }

   @media screen and (min-width:1707)and (max-width: 2500px) {
    .card { height: 15rem; 
    }
   }